body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f2f2f2 !important;
}

.navbar-custom {
  background-color: #012e40;
  border: none;
  box-shadow: none;
  margin: 0 auto; 
  max-width: 1400px;
}

.custom-dropdown .dropdown-toggle {
  color: #f2f2f2 !important;
}

.custom-dropdown .dropdown-menu {
  background-color: #f2f2f2;
}

.custom-dropdown .dropdown-item {
  color: #012e40 !important;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #e0e0e0;
  color: #012e40;
}

.header-container {
  grid-area: header;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px; 
}

.navbar-container {
  grid-area: nav;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

.content-container {
  grid-area: content;
  padding: 1rem;
}

.mt-3 {
  margin-top: 0.5rem;
}

